/*KEY ESTILOS SE APLICAN DE + GENÉRICO A + ESPECÍFICO*/
body{
	font-family: 'Lato', sans-serif;
}
h2{
	font-weight: 400;
}
p{
	font-weight: 300;
}


/*KEY CENTRAR CONTENIDO EN .container 0 auto +width*/
.container {
	margin: 0 auto;
	width: 90%;
}

.flex{
	display: flex;
	/*KEY RESPONSIVE + WIDTH 25%*/
	flex-wrap: wrap;
}

.text-center{
	text-align: center;
}

.columna{
	background: rgb(238, 238, 238);
	color: #333;
	border: 1px solid #333;
	margin: 0 auto;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888;
	width: 23%;
	/*KEY RESPONSIVE para que recalcule 100% de cada 23% sin padding ni border*/
	box-sizing: border-box;
}

.precio{
	font-size: 50px;
	color: #00dac7;
}

.btn-precio{
	background: salmon;
	/*KEY display block para que <a> se comporte como elemento de bloque y ocupe el 100% las a son elementos de linea*/
	display: block;
	padding:10px;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	margin-bottom: 10px;
}

.btn-precio:hover{
	background: rgb(247, 100, 84);
}

/*KEY RESPONSIVE menos de 1070 se aplican estos estilos*/
@media (max-width: 1070px){
	.columna{
	width: 45%;
    margin-bottom: 20px;
    }
}

/*KEY RESPONSIVE menos de 600 se aplican estos estilos*/
@media (max-width: 600px){
	.columna{
	width: 100%;
    margin-bottom: 20px;
    }
}