/* Características generales de la página */
body {
  font-size: 12px;
  font-family: Arial, sans-serif;
  
}
h1{
  color:white;
  background: #ccc;
  text-align: center;
  }
h2{
  font-size: 20px;
  }
  /*notif*/
  .cuadro{
  border: 1px solid;
  font-weight: 20px;
  text-align: center;
  padding: 4px;
  width: 40%;
  margin-left: 220px;
  }
    .cuadro2{
  font-size: 12px;  
  border: 1px solid;
  text-align: justify;
  padding: 2px;
  width: 100%;
  }

  #referencia{
  padding: 8px;
  border: 1px solid;
  font-size: 12px;  
    }
  #referencia p{
  text-align: center;
  margin: 0px;
  }

  #referencia2{
  padding: 8px;
  border: 1px solid;
  font-size: 12px;  
  }
  
  #referencia2 p{
  text-align: justify;
  margin: 0px;
  }
  
  #referencia2 #nombre2{margin-left: 10px;}
  #referencia2 #exp2{margin-left: 89px;}
  #referencia2 #dni2{margin-left: 108px;}
  #referencia2 #importe2{margin-left: 22px;}
  .placeholder{
    color:red;
    text-align: center;
    font-weight: bold;
    font-size: 1em;

  }
  
 table {
  border-collapse: collapse;
}
tr,span {
font-size: 1.2em;
}
 td, th {
  border: 1px solid black;
   width:50%;
   height:60px;
 }
 table{
  width:100%;

}

  td input{
    text-align: center;
   }


#contenedor4 td {
border: 1px solid black;
height:30px;
}
h9{text-align: left;}

#titulo{
  padding:3px;
  background: #ccc;
  text-align: center;
  }

/* El contenedor define la zona principal de contenido */
#contenedor1,#contenedor2,#contenedor3,#contenedor4,#contenedor5 {
  
  margin: 1em auto;
  padding: 1em;
  width: 90%;
}

/* El formulario está definido como una lista */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  
  margin: 1em 0;
  width: auto;
  overflow: hidden;
  background: #ccc;
  border: solid 1px black;
  padding: 8px;
}

/* El formulario se organiza en dos columnas, el título y los controles */
ul li label.titulo {
  float: left;
  width: 150px;
  text-align: right;  
}
 
ul li div.controles {
  margin-left: 160px;
}


/* El título de los elementos de la lista */ 
ul li label.titulo {
  font-weight: bold;
}
 
ul li div span {
  float: left;
  padding: 0.3em 0;
}
 
ul li div span.completo {
  width: 100%;
}
 
#nombre,#dir,#concep,#name1,#rid1,#rediname,#redidir,#redicon{width: 360px; }

/* Como se define display: block, se muestra en la línea siguiente */
ul li div span label {
  display: block;
  font-size: 12px;
  color: #333;

}

/* Configuración de los controles del formulario */
ul li input {
  padding: 0.2em;
}
 


/* Destaca el control cuando recibe el foco */
ul li input, ul li select {
  border: 2px solid transparent;
  border-bottom: 2px solid black;
}

ul li input:focus, ul li select:focus {
  border: 2px solid red;
}



.a{
  color: #228DFF;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  text-decoration: none;
  border: 1px solid rgba(25, 25, 24, 0.36);
   }

}

ul li a:hover {
  
  color:black;
  }

legend{
    color: grey;
    font-size: 1.3em;
  }

  fieldset input{
    font-size: 1.5em;
  }




#main-header {
  
  color: black;
  height: 160px;
} 

  #main-header  {
      margin-top: 25px;
      
    }
  #main-header a {
    color: black;
  }
 
  #grey  {
    color: #f4f4f4;
  }

#logo-header{
  margin-top: 18px;
  float: right;
  padding: 3px;

  
}

#contacto {
  float: left;
  text-decoration: none;
  font-family:"Gill Sans",sans-serif;
  font-size: 0.8em;
  padding: 3px;
}
  #logo-header:hover {
    color: blue;
  }
  
  #logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.1em;
    font-family:"Gill Sans",sans-serif;

  }
  
  .site-desc {
    padding: 3px;
    font-size: 1.5em;
    font-family:"Gill Sans";
  }

 /* #divBordeGrey{
    background: yellow;
  }26/09/2019*/
    p {
      font-size: 1.3em;
      text-align: justify;
    }

 #desapareceDiv,#desapareceDiv2{display: none;}

 input {
    border: 0;
    outline: 0;
    resize: both;
    overflow: auto;
    font-size:0.9em;
    font-weight: bold;
    text-align: center;
       
}

select{
  font-size:1em;
}

fieldset{
display:inline-block;

}

#cur{
  font-style: oblique;
}

textarea{    
       width: 90%;
       margin-bottom: 3px;
 }

strong{
  font-size:1.3em;
}

#art42{
  border: solid 1px;
  font-size:0.8em;
  text-align: justify;
}

.gray{
color: gray;
}

.print-pdf {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.925rem;
  letter-spacing: 0.3em;
  color: black;
  border-radius: 0;
  padding: 18px ;
  transition: all 0.7s ease-out;
  background: linear-gradient(
    270deg,
    rgba(240, 240, 255, 0.8),
    rgba(255, 255, 247, 0.8),
    rgba(68, 65, 65, 0.1),
    rgba(34, 34, 34, 0.1)
  );
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.print-pdf:hover {
  border: 1px solid rgba(25, 25, 24, 0.36);
  color: blue;
  background-position: 99% 50%;
}

h9{
  font-weight: bold;
}
p,h1{
          -webkit-transform: scale(0.70);  /* Saf3.1+, Chrome */
             -moz-transform: scale(0.70);  /* FF3.5+ */
              -ms-transform: scale(0.70);  /* IE9 */
               -o-transform: scale(0.70);  /* Opera 10.5+ */
                  transform: scale(0.70);
                 
       
    }


  @page { 
        size: auto; 
         margin: 0mm 0mm 0mm 0mm;
          
         }
       
       
  @media print {
     
    .print-pdf,footer,.icon{display:none;}
    input,select {
        border: none;
        width:auto;
        overflow:visible;
         }
    textarea {
        border: none;
      }

    p {page-break-inside: avoid;}
    strong{font-size:1.3em;}
    h1 {
    border:20px solid #ccc;
    width:95%;
    color:#7F9FB6; !important;
    line-height:0px;
    } 

    body{
          -webkit-transform: scale(0.90);  /* Saf3.1+, Chrome */
             -moz-transform: scale(0.90);  /* FF3.5+ */
              -ms-transform: scale(0.90);  /* IE9 */
               -o-transform: scale(0.90);  /* Opera 10.5+ */
                  transform: scale(0.90);
                 
        margin: -93px -53px 0px;   /*big hack to reposition the page top the top and left of the viewer control */
    }
            
}